
*{
    margin: 0;
    padding: 0%;
}

#maindiv{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 252, 252);
}
#innerdiv{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(187,187,187) , -5px -5px 10px white;
    padding: 2rem 5rem 2rem 5rem;
    gap:1rem;
    border-radius: 8px;

}
.inputdiv{
    display: flex;
    flex-direction: column;
    color: rgb(76, 76, 76);
}
input{
    width: 30rem;
    height: 2.5rem ;
    border-radius: 5px;
    border: none;
    padding-left: 1rem;
    box-shadow:inset 2px 2px 5px rgb(179,178,178);
    margin-top: 5px;
}

button{
    height: 2.5rem;
    width: 8rem;
    font-weight: 700;
    border: none;
    border-radius: 3rem;
    background-color: transparent;
    box-shadow: 3px 3px 6px rgb(188,187,187) , -4px -4px 7px white;
    cursor: pointer;
    transition-duration: 300ms;
}
img{
    height: 2rem;
    cursor: pointer; 
    padding: 8px;
    border-radius: 100%;
      transition-duration: 300ms;
      box-shadow: 3px 3px 6px rgb(188,187,187) , -4px -4px 7px white;
}
img:active{
    box-shadow: none;
    transform: scale(0.9);
}
.imgdiv{
    display: flex;
    gap: 2rem;
}
h4{
    text-decoration: underline;
}


button:active{
    box-shadow: none;
    transform: scale(0.9);
}
h1{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: rgba(85, 226, 226, 0.878);
    box-shadow: inset 2px 2px 5px rgb(0, 105, 113);
}


#logindiv{
    padding: 8px ;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(188,187,187) , -4px -4px 7px white;
}







