#maindiv{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputdiv{
    display: flex;
    flex-direction: column;
}
input{
    width: 30rem;
    height: 2.5rem;
}

















