
*{
    margin: 0;
    padding: 0%;
}

#maindiv{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 252, 252);
}
#innerdiv{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(187,187,187) , -5px -5px 10px white
    padding: 2rem;

}
.inputdiv{
    display: flex;
    flex-direction: column;
}
input{
    width: 30rem;
    height: 2.5rem ;
    border: 5px;
    border: none;
    box-shadow: 2px 2px 5px gray;
}

















